In [19]:
class QuestionBank:
    def __init__(self,question,answer):
        print(' i am from Init')
        self.prompt=question
        self.answer=answer

l=[]
l.append(QuestionBank('Choose your Country?\n a.America\n b.Singapore\n c.India','a'))
l.append(QuestionBank('Choose your Country?\n a.America\n b.Singapore\n c.India','b'))
l.append(QuestionBank('Choose your Country?\n a.America\n b.Singapore\n c.India','c'))
l

 i am from Init
 i am from Init
 i am from Init

[<__main__.QuestionBank at 0x7f18c3adbb20>,
 <__main__.QuestionBank at 0x7f18c3adb220>,
 <__main__.QuestionBank at 0x7f18c3adbcd0>]

In [25]:
for i in l:
    answer=input(i.prompt)
    if answer==i.answer:
        print('Success')
    else:
        print('Failure')

Choose your Country?
 a.America
 b.Singapore
 c.Indiab
Failure
Choose your Country?
 a.America
 b.Singapore
 c.Indiab
Success
Choose your Country?
 a.America
 b.Singapore
 c.Indiab
Failure

In [148]:
import datetime
class Humen:
    def __init__(self,name,dob,sex,hight,weight):
        self.name=name
        self.dob=datetime.datetime.strptime(dob,'%Y-%m-%d')
        self.sex=sex
        self.hight=hight
        self.weight=weight
        self.points=10
        self.spouse=None
        self.married=None
    def age(self):
        age=round((datetime.datetime.now()-self.dob).days/365.25)
        return age
    def __repr__(self):
        return self.__dict__.__str__()
    def marry(self,new):
        self.points=self.points*new.points
        new.points=self.points
        self.married=True
        new.married=True
        self.spouse=new.name
        new.spouse=self.name
        return (a,b)

In [149]:
a=Humen('Arun','1986-07-28','M',7,80)
b=Humen('Nivedha','1991-09-14','F',7,80)
a,b

({'name': 'Arun', 'dob': datetime.datetime(1986, 7, 28, 0, 0), 'sex': 'M', 'hight': 7, 'weight': 80, 'points': 10, 'spouse': None, 'married': None},
 {'name': 'Nivedha', 'dob': datetime.datetime(1991, 9, 14, 0, 0), 'sex': 'F', 'hight': 7, 'weight': 80, 'points': 10, 'spouse': None, 'married': None})

In [147]:
a.points,b.points

(10, 10)

In [150]:
a.marry(b)

({'name': 'Arun', 'dob': datetime.datetime(1986, 7, 28, 0, 0), 'sex': 'M', 'hight': 7, 'weight': 80, 'points': 100, 'spouse': 'Nivedha', 'married': True},
 {'name': 'Nivedha', 'dob': datetime.datetime(1991, 9, 14, 0, 0), 'sex': 'F', 'hight': 7, 'weight': 80, 'points': 100, 'spouse': 'Arun', 'married': True})